.App {
  text-align: center;
  height:800px;
  width:800px;
  border-color: blue;
  border-width: thin;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.player_container{
  float: left;
  margin-top:50px;
}
.gameboard_container{
  height: 400px;
  margin-top:60px;
  background-color: blue;   
  align-content: center;
  border:1px solid black;
}
.scoreboard_container{   
  float: right;
  margin-top:50px;  
}
